.app__container {
  width: 100%;
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 6rem;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 50% 50%;
  background-color: var(--white);
}

.app__header, .app__main {
  padding: 6rem;
}

.app__header {
  background: var(--red);
}
.app__main {
  background: var(--purple);
}



